@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Heebo-Bold";
  src: url("../public/fonts/Heebo-Bold.ttf");
}

@font-face {
  font-family: "Heebo-Medium";
  src: url("../public/fonts/Heebo-Medium.ttf");
}

@font-face {
  font-family: "Heebo-Regular";
  src: url("../public/fonts/Heebo-Regular.ttf");
}

@font-face {
  font-family: "Heebo-Light";
  src: url("../public/fonts/Heebo-Light.ttf");
}

@font-face {
  font-family: "Heebo-ExtraLight";
  src: url("../public/fonts/Heebo-ExtraLight.ttf");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../public/fonts/Inter-Regular.woff2");
}

@font-face {
  font-family: "Inter-Light";
  src: url("../public/fonts/Inter-Light.woff2");
}

html,
body {
  @apply bg-slate-50;
}